/* WeatherHead Set-Up */
.weather-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 51px 96px 24px 96px;

  .mobile {
    display: none;
  }

  img {
    max-width: 321px;
    min-height: 254px;
  }

  .country-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 206px;

    h1 {
      font-size: 48px;
      line-height: 58.09px;
      font-weight: 500;
    }
  }

  .country-bar {
    display: flex;
    align-items: center;
    gap: 5px;

    h3 {
      font-size: 24px;
      line-height: 29.05px;
      font-weight: 500;
    }

    .weather {
      max-width: 30px;
      min-height: 30px;
    }

    .rotation-accordion {
      cursor: pointer;
      transform: rotate(0);
    }
    .rotation-accordion.open {
      transform: rotate(90deg);
    }
  }

  .country-celsius {
    padding-top: 60px;

    h2 {
      font-size: 64px;
      font-weight: 500;
      line-height: 77.45px;
    }

    p {
      font-size: 18px;
      line-height: 21.78px;
      font-weight: 400;
    }
  }
}

.logo-mob {
  display: none;
}

.my-own-flex {
  display: flex;
  gap: 5px;

  input {
    border: none;
    border-radius: 10px;
    background-color: #ffffff1f;
    width: 100%;
    max-width: 240px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    padding: 5px 10px;
  }

  input::placeholder {
    font-size: 14px;
    color: white;
  }
}

/* WeatherBody Set-Up */
.weather-body {
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 0 42px 0 40px;

  .weather-left {
    width: 100%;
    max-width: 100px;
    min-height: 537px;
    background-color: #ffffff1f;
    border-radius: 40px;
    padding: 20px 7px 20px 8px;

    .weather-left-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      img {
        max-width: 60px;
        min-height: 60px;
      }

      ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 22px;

        li {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 14px;
          gap: 5px;

          img {
            max-width: 50px;
            min-height: 50px;
          }
        }

        li:nth-child(2) img {
          max-width: 36px;
          min-height: 36px;
        }

        li:nth-child(3) img {
          max-width: 30px;
          min-height: 42px;
        }

        li:nth-child(4) img {
          max-width: 43px;
          min-height: 43px;
        }
      }
    }
  }

  .weather-main {
    display: flex;
    flex-direction: column;
    gap: 31px;
    background-color: #ffffff1f;
    width: 100%;
    border-radius: 40px;
    height: auto;

    .weather-bottom {
      .button-lack {
        display: none;
      }

      .weather-bottom-text {
        display: flex;
        padding: 11px 0 0 35px;
        gap: 5px;
        position: relative;

        img {
          max-width: 16px;
          min-height: 16px;
        }

        p {
          font-size: 14px;
          line-height: 17.34px;
          font-weight: 500;
        }
      }

      .graph-image {
        width: 100%;
        height: 100%;
        max-height: 230px;
        background-image: url("../../public/graph.svg");
        background-size: cover;
        background-position: center;
      }
    }
  }

  .weather-right {
    position: relative;
    width: 100%;
    max-width: 324px;
    min-height: 537px;
    background-color: #ffffff1f;
    border-radius: 40px;
    padding: 0 0 39px 0;

    .weather-swiper {
      .swiper-container {
        height: 100px;
        margin-bottom: 15px;
        padding: 0 12px;

        .swiper {
          width: 100%;
          height: 100%;
        }

        .swiper-slide {
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translateY(10px);

          span {
            font-size: 12px;
            line-height: 21.44px;
            color: #ffffff99;
            img {
              max-width: 24px;
              min-height: 24px;
              opacity: 0.6;
            }
          }

          &.swiper-slide-prev,
          &.swiper-slide-next {
            transform: translateY(6px);
            span {
              font-size: 14px;
              line-height: 21.44px;
              color: #ffffffcc;
              img {
                max-width: 26px;
                min-height: 26px;
                opacity: 0.8;
              }
            }
          }

          &.swiper-slide-active {
            transform: translateY(0px);
            span {
              font-size: 17px;
              line-height: 21.44px;
              color: #fff;
              img {
                max-width: 31px;
                min-height: 23px;
                opacity: 1;
              }
            }
          }
        }

        .swiper {
          margin-left: auto;
          margin-right: auto;
        }
      }

      .weather-text {
        display: flex;
        justify-content: center;
        gap: 5px;

        p {
          font-size: 17px;
          line-height: 20.71px;
          font-weight: 500;
        }

        img {
          max-width: 20px;
          min-height: 20px;
        }
      }
    }

    .weather-description {
      padding-top: 34px;
      padding-left: 15px;
      z-index: 50;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 20px;

      h5 {
        font-size: 14px;
        line-height: 16.94px;
        padding-left: 1px;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 45px;

        li {
          display: flex;
          gap: 5px;
          align-items: flex-start;
          height: 40px;

          span {
            padding-top: 5px;
            font-size: 12px;
            font-weight: 500;
            line-height: 14.52px;

            strong {
              font-weight: 500;
              font-size: 16px;
              line-height: 19.36px;
            }
          }

          img {
            max-width: 25px;
            min-height: 25px;
          }
        }
      }
    }

    .background-image {
      position: absolute;
      left: 0;
      bottom: 39px;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  max-width: 19px;
  min-height: 9px;
  color: #ffffff7d !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: -5px !important;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: -5px !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  left: 0;
  font-size: 18px !important;
}

@media (max-width: 1200px) {
  .weather-body {
    padding: 0 16px;
    align-items: center;
    flex-direction: column-reverse;

    .weather-right {
      min-height: auto;
      background-color: transparent;
      padding: 0;
      max-width: 365px;

      .weather-swiper .weather-text {
        display: none;
      }
    }
  }
  .weather-card {
    display: block;
    padding: 46px 32px 32px 33px;
    .country-celsius {
      padding-top: 0;
      text-align: center;
    }
    .mobile {
      max-width: 200px;
      min-height: 200px;
      display: block;
      margin: 0 auto;
    }
    .country-info {
      max-width: 100%;
      gap: 0;

      h1 {
        padding-top: 30px;
        font-size: 24px;
        text-align: center;
      }
    }
    .country-bar {
      gap: 10px;
    }
  }
  .weather-body .weather-right .background-image,
  .weather-body .weather-left,
  .desctop,
  .weather-body .weather-right .weather-description {
    display: none;
  }

  .weather-body .weather-main {
    border-radius: 10px;

    .weather-bottom {
      .button-lack {
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 15px;
        padding: 0 10px;

        .default-color {
          background: #eaca8f;
          width: 100%;
          max-width: 205px;
          height: 30px;
          border-radius: 16px;
          border: none;
          color: white;
        }

        .rain-color {
          background: #ffaa0f;
          width: 100%;
          max-width: 205px;
          height: 30px;
          border-radius: 16px;
          border: none;
          color: black;
        }

        .snow-color {
          background: #acf5ff;
          width: 100%;
          max-width: 205px;
          height: 30px;
          border-radius: 16px;
          border: none;
          color: black;
        }
      }

      .graph-image {
        position: relative;
        bottom: 15px;
        min-height: 210px;
        max-height: 0;
      }

      .weather-bottom-text {
        padding: 11px;
      }
    }
  }

  .my-own-flex input {
    font-size: 20px;
    max-width: 150px;
  }

  .logo-justify {
    display: flex;
    justify-content: space-between;
    .logo-mob {
      display: block;
      max-width: 30px;
      height: 30px;
      min-height: auto;
      margin-left: 30px;
    }
  }
}

